<section class="bg-[#ae946d] text-white text-center font-semibold p-2 text-md">
  <p>Envío Gratis a partir de $89.999</p>
  <p>3 Cuotas Sin Interés a partir de $50.000</p>
  <p>6 Cuotas Sin Interés a partir de $100.000</p>
</section>

<header>
  <!------MENU RESPONSIVE (MENU HAMBURGUESA)---->
  <section [ngClass]="{'bg-white text-black overflow-hidden' : menuActivo, 'bg-[#181818] text-white' : !menuActivo}" class="flex flex-col p-4 text-xl md:hidden">
    <article class="flex justify-between  items-center">
      <h1>Ficticommerce</h1>
      
      <div class="relative hidden">
        <input class="w-full py-2 px-4 border bg-[#181818] border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2" type="search" placeholder="Search">
        <button class="absolute inset-y-0 right-0 flex items-center px-4 text-white bg-[#181818] border border-gray-300 rounded-r-md hover:bg-gray-400 focus:outline-none focus:ring-2">
        <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.795 13.408l5.204 5.204a1 1 0 01-1.414 1.414l-5.204-5.204a7.5 7.5 0 111.414-1.414zM8.5 14A5.5 5.5 0 103 8.5 5.506 5.506 0 008.5 14z" />
        </svg>
        </button>
      </div>
    
      <div class="flex gap-x-10 items-center">
        <a class="flex relative" href=""><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
          <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
        </svg><span [ngClass]="{'bg-black text-white' : menuActivo, 'bg-white' : !menuActivo}" class="absolute text-sm rounded-full  px-2 text-black top-0 left-5 bottom-2">1</span></a>
        
        <button (click)="menu()">
          @if(menuActivo){
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
            </svg>
          }
          @else {
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
          }
        </button>
      </div>
    </article>
  
    @if (menuActivo) {
      <article class="w-[100vw] h-[80vh] bg-white z-[1000] flex flex-col">
        <main class="px-5 my-5 text-xl">
          <nav class="flex flex-col gap-4">
            <a [routerLink]="['/']" (click)="menu()" class="text-black hover:text-gray-700 flex justify-between">{{'nuevo' | uppercase}} <span>></span></a> 
            <a [routerLink]="['mujeres']" (click)="menu()" class="text-black hover:text-gray-700 flex justify-between">{{'Mujeres' | uppercase}} <span>></span></a> 
            <a [routerLink]="['hombres']" (click)="menu()" class="text-black hover:text-gray-700 flex justify-between">{{'Hombres' | uppercase}} <span>></span></a>
            <a [routerLink]="['niños']" (click)="menu()" class="text-black hover:text-gray-700 flex justify-between">{{'Niños' | uppercase}} <span>></span></a> 
            <a [routerLink]="['deportes']" (click)="menu()" class="text-black hover:text-gray-700 flex justify-between">{{'Deportes' | uppercase}} <span>></span></a> 
          </nav>
        </main>
        <footer class="flex justify-center mt-10">
          <a [routerLink]="['/auth']" (click)="menu()" class="text-white bg-[#ae946d] px-5 py-2 w-[60%] text-center">Iniciar Sesión</a>
        </footer>
      </article>
    }
  </section>
  <!------MENU GENERAL CUANDO LA PANTALLA ES MD----->
  <section class="hidden justify-around items-center bg-[#181818] text-white p-4 text-xl md:flex">
    <nav class="flex gap-x-16">
      <ul><a [routerLink]="['/']">NUEVO</a></ul>
      <ul><a [routerLink]="['mujeres']">Mujeres</a></ul>
      <ul><a [routerLink]="['hombres']">Hombres</a></ul>
      <ul><a [routerLink]="['niños']">Niños</a></ul>
      <ul><a [routerLink]="['deportes']">Deportes</a></ul>
    </nav>
    
    <div class="relative">
      <input class="w-full py-2 px-4 border bg-[#181818] border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2" type="search" placeholder="Search">
      <button class="absolute inset-y-0 right-0 flex items-center px-4 text-white bg-[#181818] border border-gray-300 rounded-r-md hover:bg-gray-400 focus:outline-none focus:ring-2">
      <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.795 13.408l5.204 5.204a1 1 0 01-1.414 1.414l-5.204-5.204a7.5 7.5 0 111.414-1.414zM8.5 14A5.5 5.5 0 103 8.5 5.506 5.506 0 008.5 14z" />
      </svg>
      </button>
    </div>
  
    <div class="flex gap-x-10 items-center">
      <a class="flex relative" href=""><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
        <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
      </svg><span class="absolute text-sm rounded-full bg-white px-2 text-black top-0 left-5 bottom-2">1</span></a>
      <a [routerLink]="['/auth']">login</a>
    </div>
  </section>

</header>

<main class="min-h-screen flex flex-col">
  @if (promo) {
    <div id="promo" class="fixed bg-white font-bold border border-black p-4 z-50 bottom-10 left-10 flex gap-2 text-sm">
      <p>Registrate para obtener ofertas y un 20% OFF*</p>
      <button class="hover:text-red-500" (click)="closePromo()"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
      </svg></button>
    </div>
  }
  <section class="p-5 flex justify-center border-b-2">
    @if (currentRoute == 'auth') {
      <p class="w-[90%] text-xl">PANEL DE CUENTA</p>
    }
    @else {
      <p class="w-[90%] text-xl">Inicio > {{currentRoute | titlecase}}</p>
    }
  </section>
  <router-outlet />
</main>

<footer class="p-10 bg-[#181818] bottom-0">

</footer>

